<ul class="nav nav-tabs">
  {{#each grupos}}
    <li class="nav-item">
      <a class="nav-link {{#is this.letra 'A'}}active{{/is}}" data-toggle="tab" href="#grupo{{this.letra}}">Grupo {{this.letra}}</a>
    </li>
  {{/each}}
</ul>

<div class="tab-content" id="myTabContent">
  {{#each grupos}}
    <div class="tab-pane fade show {{#is this.letra 'A'}}active{{/is}}" id="grupo{{this.letra}}" role="tabpanel" aria-labelledby="grupo-a-tab">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table" id="tabla-grupo-{{this.letra}}">
              <thead>
                <tr class="table-info">
                  <th scope="col">{{this.letra}}</th>
                  <th scope="col">Equipo</th>
                  <th scope="col">Pts</th>
                  <th scope="col">PJ</th>
                  <th scope="col">PG</th>
                  <th scope="col">PE</th>
                  <th scope="col">PP</th>
                  <th scope="col">GF</th>
                  <th scope="col">GC</th>
                  <th scope="col">+/-</th>
                </tr>
              </thead>
              <tbody>
                {{#each equipos}}
                  <tr>
                    <td class="align-middle">1</td>
                    <td class="align-middle"><img src="./images/banderas/{{this.bandera_path}}" />{{this.nombre}}</td>
                    <td class="align-middle">{{this.resultados_grupo.puntos}}</td>
                    <td class="align-middle">{{this.resultados_grupo.pj}}</td>
                    <td class="align-middle">{{this.resultados_grupo.pg}}</td>
                    <td class="align-middle">{{this.resultados_grupo.pe}}</td>
                    <td class="align-middle">{{this.resultados_grupo.pp}}</td>
                    <td class="align-middle">{{this.resultados_grupo.gf}}</td>
                    <td class="align-middle">{{this.resultados_grupo.gc}}</td>
                    <td class="align-middle">{{this.resultados_grupo.dif}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-12">
          <hr>
          <h1 class="text-center my-4">PARTIDOS GRUPO {{this.letra}}</h1>
          <div id="accordion{{this.letra}}">
            <ul class="list-group" id="partidos-grupo-{{this.letra}}">
              <!-- contenido creado dinámicamente -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
